###################################################################################################

**/*.DS_Store
polaris-exporter
secrets/*

###################################################################################################
